@charset "UTF-8";

html, body{
    height: 100%;
    margin: 0;
}

body{
    background: url("espaco.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#espaco{
    position: fixed;
    inset: 0;
    z-index: -1;
}

#astronauta{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#astronauta img{
    width: auto;
    max-width: 40vw;
    max-height: 60vh;
    height: auto;
}

